<h1>Registration</h1>
<form action="/data" method = "GET">
    
    <p>Name <input type = "text" name = "Name" required/></p>
    <p>username <input type = "text" name = "username" required/></p>
    <p>password <input type = "password" name = "password" required/></p>
    <p>conferma_password <input type = "password" name = "conferma_password" required/></p>
    <p>Sex <input type = "radio" name = "Sex" value="M" required/>M <input type = "radio" name = "Sex" value="F" required/>F </p>
    <p><input type = "submit" value = "Submit" required/></p>
</form>