<html> 
    <head> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    </head>
    <body> 
      
       <a href = "/previsioni"> <img id = "previsioni" src="{{url_for('static', filename='images/METEO.jpeg')}}"/> </a>
       <a href = "/libro">    <img id = "libro"  src="{{url_for('static', filename='images/libro.jpg')}}"/></a>
       <a href = "/calendario"> <img id = "calendario"  src="{{url_for('static', filename='images/calendario.jpg')}}"/ > </a>
    </body>




</html>