<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f4c9e33314dfdc73b77288bd2ddfb8fd {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_f4c9e33314dfdc73b77288bd2ddfb8fd" ></div>
        
</body>
<script>    
    
            var map_f4c9e33314dfdc73b77288bd2ddfb8fd = L.map(
                "map_f4c9e33314dfdc73b77288bd2ddfb8fd",
                {
                    center: [45.46, 9.2],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ba1478a3e86d9369a1d852223938be13 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f4c9e33314dfdc73b77288bd2ddfb8fd);
        
    
            var tile_layer_5eafb563ae3cf29dce94f7a168b6f559 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
            var mini_map_f766567dffe70e2ff87c478af4c03daa = new L.Control.MiniMap(
                tile_layer_5eafb563ae3cf29dce94f7a168b6f559,
                {"autoToggleDisplay": false, "centerFixed": false, "collapsedHeight": 25, "collapsedWidth": 25, "height": 150, "minimized": false, "position": "bottomright", "toggleDisplay": true, "width": 150, "zoomAnimation": false, "zoomLevelOffset": -5}
            );
            map_f4c9e33314dfdc73b77288bd2ddfb8fd.addControl(mini_map_f766567dffe70e2ff87c478af4c03daa);
        
    
            var marker_cluster_52b6ebbff5f469302e40dc9414700e9c = L.markerClusterGroup(
                {}
            );
            map_f4c9e33314dfdc73b77288bd2ddfb8fd.addLayer(marker_cluster_52b6ebbff5f469302e40dc9414700e9c);
        
    
            var marker_35dbbd686c9379b9a77275897da69f22 = L.marker(
                [45.51105335, 9.2110041],
                {}
            ).addTo(marker_cluster_52b6ebbff5f469302e40dc9414700e9c);
        
    
        var popup_995237f9b799b032760a41a67723fc9f = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_4c2aec27035ae944123ed9cf8b619ddf = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBJTk5PVkFaSU9ORSA5IFNVQiAxMjQ=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_995237f9b799b032760a41a67723fc9f.setContent(i_frame_4c2aec27035ae944123ed9cf8b619ddf);
        

        marker_35dbbd686c9379b9a77275897da69f22.bindPopup(popup_995237f9b799b032760a41a67723fc9f)
        ;

        
    
    
            var marker_7fcc716e9203649a48f756af4cc89ddc = L.marker(
                [45.51827534, 9.21280975],
                {}
            ).addTo(marker_cluster_52b6ebbff5f469302e40dc9414700e9c);
        
    
        var popup_15b0095f35d442ed490942049cff79b7 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_dcd57ab9ad56d79c8d529ea179310957 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBUVUNDSSBWSUFMRSBQSVJFTExJIDE2" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_15b0095f35d442ed490942049cff79b7.setContent(i_frame_dcd57ab9ad56d79c8d529ea179310957);
        

        marker_7fcc716e9203649a48f756af4cc89ddc.bindPopup(popup_15b0095f35d442ed490942049cff79b7)
        ;

        
    
    
            var marker_3f40fe09f5a2b9fd3df29e93e39d2c30 = L.marker(
                [45.52133299, 9.21370224],
                {}
            ).addTo(marker_cluster_52b6ebbff5f469302e40dc9414700e9c);
        
    
        var popup_95a90535d578b725a612ae7e1e3a62b3 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_b1d3795e57746110e79ed313cf182f31 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBDSElFU0UgMSBTVUIuIDcxMQ==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_95a90535d578b725a612ae7e1e3a62b3.setContent(i_frame_b1d3795e57746110e79ed313cf182f31);
        

        marker_3f40fe09f5a2b9fd3df29e93e39d2c30.bindPopup(popup_95a90535d578b725a612ae7e1e3a62b3)
        ;

        
    
    
            var marker_a7614f2a1257f0212abf5f336cce2796 = L.marker(
                [45.51439515, 9.21163553],
                {}
            ).addTo(marker_cluster_52b6ebbff5f469302e40dc9414700e9c);
        
    
        var popup_0663ad21a75c6a73538088345373001f = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_484555fc88ff757be7c30838f0a5ced8 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBHVUVTVEhFUk8gVFJJVlVMWklBTkEgMQ==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_0663ad21a75c6a73538088345373001f.setContent(i_frame_484555fc88ff757be7c30838f0a5ced8);
        

        marker_a7614f2a1257f0212abf5f336cce2796.bindPopup(popup_0663ad21a75c6a73538088345373001f)
        ;

        
    
    
            var marker_2c0af70c1d4b70dfd3589b970c67ca75 = L.marker(
                [45.51623584, 9.20773976],
                {}
            ).addTo(marker_cluster_52b6ebbff5f469302e40dc9414700e9c);
        
    
        var popup_b1d3552d504b33bdb1a667a371f05eeb = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_3fefd89f6f98af9bf0bc522f9e08154e = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBOT1RBIEFMQkVSVE8gU1VCIDcxMA==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_b1d3552d504b33bdb1a667a371f05eeb.setContent(i_frame_3fefd89f6f98af9bf0bc522f9e08154e);
        

        marker_2c0af70c1d4b70dfd3589b970c67ca75.bindPopup(popup_b1d3552d504b33bdb1a667a371f05eeb)
        ;

        
    
    
            var marker_46f5b14ca2870bb829be9e35d4f0e912 = L.marker(
                [45.52513844, 9.21420202],
                {}
            ).addTo(marker_cluster_52b6ebbff5f469302e40dc9414700e9c);
        
    
        var popup_20ebd7e1e252875dd5302ae9d0ab36bf = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_895f5718289aac70bf67e6f2674d8b90 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBWSUFMRSBTQVJDQSAzMjQgU1VCIDE0" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_20ebd7e1e252875dd5302ae9d0ab36bf.setContent(i_frame_895f5718289aac70bf67e6f2674d8b90);
        

        marker_46f5b14ca2870bb829be9e35d4f0e912.bindPopup(popup_20ebd7e1e252875dd5302ae9d0ab36bf)
        ;

        
    
    
            var marker_bdb709776b0e89a3e445941857798f79 = L.marker(
                [45.52513844, 9.21420202],
                {}
            ).addTo(marker_cluster_52b6ebbff5f469302e40dc9414700e9c);
        
    
        var popup_1177116f5c93048c1ea00259667ff2fc = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_bf905c61413646c2464fa4313750ce08 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBUFBBUlRBTUVOVE8gTU9ERVJOTyBJTiBCSUNPQ0NBIFZJTExBR0U=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_1177116f5c93048c1ea00259667ff2fc.setContent(i_frame_bf905c61413646c2464fa4313750ce08);
        

        marker_bdb709776b0e89a3e445941857798f79.bindPopup(popup_1177116f5c93048c1ea00259667ff2fc)
        ;

        
    
    
            var marker_b9d0883bec9b15fa7270a7aaa3b09bf0 = L.marker(
                [45.5149545, 9.21321255],
                {}
            ).addTo(marker_cluster_52b6ebbff5f469302e40dc9414700e9c);
        
    
        var popup_fb1fb39dbd6e1115ca6418413d7ee08a = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_4610cffd52f5a603fadd04ca8138a30b = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBJTk5PVkFaSU9ORSAyMiBTVUIuMjE1" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_fb1fb39dbd6e1115ca6418413d7ee08a.setContent(i_frame_4610cffd52f5a603fadd04ca8138a30b);
        

        marker_b9d0883bec9b15fa7270a7aaa3b09bf0.bindPopup(popup_fb1fb39dbd6e1115ca6418413d7ee08a)
        ;

        
    
    
            var marker_59faa76fbdef9fb934f148cf22576743 = L.marker(
                [45.5157349, 9.21080832],
                {}
            ).addTo(marker_cluster_52b6ebbff5f469302e40dc9414700e9c);
        
    
        var popup_325e82a3e0d55c2e1bc1021b919b522f = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_107201fd014217f5d1cd9a8196bfc909 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBERUkgREFJTkkgNCBTVUIgMTMz" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_325e82a3e0d55c2e1bc1021b919b522f.setContent(i_frame_107201fd014217f5d1cd9a8196bfc909);
        

        marker_59faa76fbdef9fb934f148cf22576743.bindPopup(popup_325e82a3e0d55c2e1bc1021b919b522f)
        ;

        
    
    
            var marker_2050b9632c1819768f4a71ca5aa53e2f = L.marker(
                [45.5261479, 9.21285299],
                {}
            ).addTo(marker_cluster_52b6ebbff5f469302e40dc9414700e9c);
        
    
        var popup_fdd3ff65339eddf1b5693a0f45582ffe = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_ad190f589fb5c0800fc75008c339a0a8 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBCSUdOQU1JIDgvMSBTVUIgMTA=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_fdd3ff65339eddf1b5693a0f45582ffe.setContent(i_frame_ad190f589fb5c0800fc75008c339a0a8);
        

        marker_2050b9632c1819768f4a71ca5aa53e2f.bindPopup(popup_fdd3ff65339eddf1b5693a0f45582ffe)
        ;

        
    
    
            var marker_4f2a07a92b626bf51326f34a6bf965bb = L.marker(
                [45.51440037, 9.20549319],
                {}
            ).addTo(marker_cluster_52b6ebbff5f469302e40dc9414700e9c);
        
    
        var popup_89261eafe4532c54343118232a4207ae = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_54535dfefdbbcd43c0daef468fe205db = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBURVNUSSBTVUIgNzE5" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_89261eafe4532c54343118232a4207ae.setContent(i_frame_54535dfefdbbcd43c0daef468fe205db);
        

        marker_4f2a07a92b626bf51326f34a6bf965bb.bindPopup(popup_89261eafe4532c54343118232a4207ae)
        ;

        
    
    
            var marker_83a83344b2173d17e1b1ca15ebb294c9 = L.marker(
                [45.52668235, 9.21246575],
                {}
            ).addTo(marker_cluster_52b6ebbff5f469302e40dc9414700e9c);
        
    
        var popup_dcced941696dc3c8c2ba39ac1072b245 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_542cebda2f52e1b7e5aabe029b6b73a4 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBTVEFSSE9URUxTIFRPVVJJU1Q=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_dcced941696dc3c8c2ba39ac1072b245.setContent(i_frame_542cebda2f52e1b7e5aabe029b6b73a4);
        

        marker_83a83344b2173d17e1b1ca15ebb294c9.bindPopup(popup_dcced941696dc3c8c2ba39ac1072b245)
        ;

        
    
    
            var marker_ca36da29e19913911d278260bbfbd4f3 = L.marker(
                [45.51837387, 9.21018133],
                {}
            ).addTo(marker_cluster_52b6ebbff5f469302e40dc9414700e9c);
        
    
        var popup_b7f157df9fb827cd5f425f61734fb770 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_b1ae5152fc7d1f044c1dca317f0d01bc = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBDViBTQVJDQQ==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_b7f157df9fb827cd5f425f61734fb770.setContent(i_frame_b1ae5152fc7d1f044c1dca317f0d01bc);
        

        marker_ca36da29e19913911d278260bbfbd4f3.bindPopup(popup_b7f157df9fb827cd5f425f61734fb770)
        ;

        
    
    
            var marker_772525294e2c8f5e1eff860fcf3fcf58 = L.marker(
                [45.52513844, 9.21420202],
                {}
            ).addTo(marker_cluster_52b6ebbff5f469302e40dc9414700e9c);
        
    
        var popup_1ce788eeb2ee99499dd0722e4d47453a = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_db1388771e8d28165a99edf1d7c533b3 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBSRVNJREVOQ0UgTUlMQU5PIEJJQ09DQ0E=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_1ce788eeb2ee99499dd0722e4d47453a.setContent(i_frame_db1388771e8d28165a99edf1d7c533b3);
        

        marker_772525294e2c8f5e1eff860fcf3fcf58.bindPopup(popup_1ce788eeb2ee99499dd0722e4d47453a)
        ;

        
    
    
            var marker_f2749b4fa117a2a7ed3e73d497e5dba7 = L.marker(
                [45.51608126, 9.20765079],
                {}
            ).addTo(marker_cluster_52b6ebbff5f469302e40dc9414700e9c);
        
    
        var popup_d2b562a824e8c64b509f65e820ed933f = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_dc82ac702a8312c58976686cf20dbd7a = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBTEJFUlRPIE5PVEE=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_d2b562a824e8c64b509f65e820ed933f.setContent(i_frame_dc82ac702a8312c58976686cf20dbd7a);
        

        marker_f2749b4fa117a2a7ed3e73d497e5dba7.bindPopup(popup_d2b562a824e8c64b509f65e820ed933f)
        ;

        
    
    
            var marker_a8df749b1c932c7f1cf42f0428ce0df8 = L.marker(
                [45.51781873, 9.21004636],
                {}
            ).addTo(marker_cluster_52b6ebbff5f469302e40dc9414700e9c);
        
    
        var popup_00af6f94ab977975ff2153c4c5e6f411 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_a9130b64e3ce1ce184ba1aba3f2908b4 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBCRUNDQVJPIFBBRFJFIEdFUkFSRE8gU1VCIDQy" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_00af6f94ab977975ff2153c4c5e6f411.setContent(i_frame_a9130b64e3ce1ce184ba1aba3f2908b4);
        

        marker_a8df749b1c932c7f1cf42f0428ce0df8.bindPopup(popup_00af6f94ab977975ff2153c4c5e6f411)
        ;

        
    
    
            var marker_0d33798b28f8db6e5ed2b3e447475d86 = L.marker(
                [45.51274736, 9.21372666],
                {}
            ).addTo(marker_cluster_52b6ebbff5f469302e40dc9414700e9c);
        
    
        var popup_885db1a84a4b5ae7a94bf65e94618692 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_b62c73557863610c781c6edaedbe00d6 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBTC4uLkJJQ09DQ0E=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_885db1a84a4b5ae7a94bf65e94618692.setContent(i_frame_b62c73557863610c781c6edaedbe00d6);
        

        marker_0d33798b28f8db6e5ed2b3e447475d86.bindPopup(popup_885db1a84a4b5ae7a94bf65e94618692)
        ;

        
    
    
            var marker_48b2ea6800e51b358c82ffb0726e422c = L.marker(
                [45.52564294, 9.21448617],
                {}
            ).addTo(marker_cluster_52b6ebbff5f469302e40dc9414700e9c);
        
    
        var popup_f6158d170d9ed387f67c5324e3bd20b8 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_23da2f34cb4b91b58adae3d325066459 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBIT1RFTCBERUdMSSBBUkNJTUJPTERJ" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_f6158d170d9ed387f67c5324e3bd20b8.setContent(i_frame_23da2f34cb4b91b58adae3d325066459);
        

        marker_48b2ea6800e51b358c82ffb0726e422c.bindPopup(popup_f6158d170d9ed387f67c5324e3bd20b8)
        ;

        
    
    
            var marker_634698f70067d1e0f69ee3896f668ea9 = L.marker(
                [45.51537984, 9.21229655],
                {}
            ).addTo(marker_cluster_52b6ebbff5f469302e40dc9414700e9c);
        
    
        var popup_f22995ee7a40519437595b5df0af3c68 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_b418d31423f08f96881c0af181ab6560 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBKVVNUIEJJQ09DQ0EgLSBNSUxBTiBBUEFSVE1FTlQ=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_f22995ee7a40519437595b5df0af3c68.setContent(i_frame_b418d31423f08f96881c0af181ab6560);
        

        marker_634698f70067d1e0f69ee3896f668ea9.bindPopup(popup_f22995ee7a40519437595b5df0af3c68)
        ;

        
    
    
            var marker_49288e8a40fb1b167871d65b3ff0e2a2 = L.marker(
                [45.51842004, 9.20777405],
                {}
            ).addTo(marker_cluster_52b6ebbff5f469302e40dc9414700e9c);
        
    
        var popup_4ac247c20a641f6a54c3111fc1b2a9c4 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_1a0f643d4beddc27533bd550eab61536 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBCSUNPQ0NBIEhPTUUgLSAyIEJFRFJPT01T" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_4ac247c20a641f6a54c3111fc1b2a9c4.setContent(i_frame_1a0f643d4beddc27533bd550eab61536);
        

        marker_49288e8a40fb1b167871d65b3ff0e2a2.bindPopup(popup_4ac247c20a641f6a54c3111fc1b2a9c4)
        ;

        
    
    
            var marker_423de5a55fdb4d2abf143df26d41415d = L.marker(
                [45.5155073, 9.21237441],
                {}
            ).addTo(marker_cluster_52b6ebbff5f469302e40dc9414700e9c);
        
    
        var popup_50c2ff2b4ea5d82de24056efc521e173 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_aad9b8a7adae0ae715fdd569c077a530 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBUT1AgRlJPTSBUSEUgIFZJRVc=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_50c2ff2b4ea5d82de24056efc521e173.setContent(i_frame_aad9b8a7adae0ae715fdd569c077a530);
        

        marker_423de5a55fdb4d2abf143df26d41415d.bindPopup(popup_50c2ff2b4ea5d82de24056efc521e173)
        ;

        
    
</script>