<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6cf3e5b8c1e2cc9fa2b373079fc34f3f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_6cf3e5b8c1e2cc9fa2b373079fc34f3f" ></div>
        
</body>
<script>    
    
            var map_6cf3e5b8c1e2cc9fa2b373079fc34f3f = L.map(
                "map_6cf3e5b8c1e2cc9fa2b373079fc34f3f",
                {
                    center: [45.46, 9.2],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_fb48d928f79ed4bb2bddb08c493ca160 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6cf3e5b8c1e2cc9fa2b373079fc34f3f);
        
    
            var tile_layer_d1faf6bd5e5d111ce438c9db17913e26 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
            var mini_map_5eb41a4a004134b09f952d2a9e012279 = new L.Control.MiniMap(
                tile_layer_d1faf6bd5e5d111ce438c9db17913e26,
                {"autoToggleDisplay": false, "centerFixed": false, "collapsedHeight": 25, "collapsedWidth": 25, "height": 150, "minimized": false, "position": "bottomright", "toggleDisplay": true, "width": 150, "zoomAnimation": false, "zoomLevelOffset": -5}
            );
            map_6cf3e5b8c1e2cc9fa2b373079fc34f3f.addControl(mini_map_5eb41a4a004134b09f952d2a9e012279);
        
    
            var marker_cluster_9ce24f4684eb53876f360d02227a078b = L.markerClusterGroup(
                {}
            );
            map_6cf3e5b8c1e2cc9fa2b373079fc34f3f.addLayer(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
            var marker_cbf356edbf53040850f10e9b410ed94a = L.marker(
                [45.48036245, 9.1601058],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_4e52c282436e1d83af6fade3651f2289 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_0035feada22c7c8aa8fbb1317d326233 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBRE1JUkFM" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_4e52c282436e1d83af6fade3651f2289.setContent(i_frame_0035feada22c7c8aa8fbb1317d326233);
        

        marker_cbf356edbf53040850f10e9b410ed94a.bindPopup(popup_4e52c282436e1d83af6fade3651f2289)
        ;

        
    
    
            var marker_60407a8770fad25996b71acfcf5ab733 = L.marker(
                [45.48702911, 9.15485304],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_f24908f2d515b913c6124e94a39464f9 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_ad6b8608913e5a5460ae5689fe958793 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBURU9ET1JJQ08gNCBTVUIgMTc=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_f24908f2d515b913c6124e94a39464f9.setContent(i_frame_ad6b8608913e5a5460ae5689fe958793);
        

        marker_60407a8770fad25996b71acfcf5ab733.bindPopup(popup_f24908f2d515b913c6124e94a39464f9)
        ;

        
    
    
            var marker_2b100a8c9160b78a14a7cfb5925dc611 = L.marker(
                [45.48492252, 9.15960842],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_aed0b4a719dbd75347372ff9cfe99c55 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_ac0829a09ebf2aac402c3b104e69c4d6 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBOQVNDTw==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_aed0b4a719dbd75347372ff9cfe99c55.setContent(i_frame_ac0829a09ebf2aac402c3b104e69c4d6);
        

        marker_2b100a8c9160b78a14a7cfb5925dc611.bindPopup(popup_aed0b4a719dbd75347372ff9cfe99c55)
        ;

        
    
    
            var marker_6357e485b89bb1196e1cd2b401221a52 = L.marker(
                [45.48349751, 9.16144012],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_9150abf8500b27d3ca64950b8de7528a = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_c2dc486bbb42db6b88debf129663a6a4 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBSVJCTkIgQ09SU08gU0VNUElPTkUgNjMgU1VCLiAxNA==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_9150abf8500b27d3ca64950b8de7528a.setContent(i_frame_c2dc486bbb42db6b88debf129663a6a4);
        

        marker_6357e485b89bb1196e1cd2b401221a52.bindPopup(popup_9150abf8500b27d3ca64950b8de7528a)
        ;

        
    
    
            var marker_d68b2608efc72f414650c59242d13740 = L.marker(
                [45.48394831, 9.15661434],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_6e6a46bc995a1fb478b851c99093001a = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_2dd143ad5d181cb06eabc3c9c16b4ff8 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBGT1JFU1RFUklBIExPTUJBUkRBIEImQiBJIExPVkUgTUlMQU5P" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_6e6a46bc995a1fb478b851c99093001a.setContent(i_frame_2dd143ad5d181cb06eabc3c9c16b4ff8);
        

        marker_d68b2608efc72f414650c59242d13740.bindPopup(popup_6e6a46bc995a1fb478b851c99093001a)
        ;

        
    
    
            var marker_8cf7def4c2918a8e2495a6f9823d5a74 = L.marker(
                [45.4869542, 9.15624477],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_7d7be1ec85603435dfc18c6635f81cab = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_b456a08a5c53bf451c31f1a5d1dd0492 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiAzNjlIT01FUyBMQVVSSUEgU1VCLiA5" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_7d7be1ec85603435dfc18c6635f81cab.setContent(i_frame_b456a08a5c53bf451c31f1a5d1dd0492);
        

        marker_8cf7def4c2918a8e2495a6f9823d5a74.bindPopup(popup_7d7be1ec85603435dfc18c6635f81cab)
        ;

        
    
    
            var marker_d9bfc77cfe0ae12d52f439538f1de000 = L.marker(
                [45.48490459, 9.1595462],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_7b6a79ea47876d05216d648136bfe815 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_e77caeb760478f3aa3fbdafe23c60acd = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBFTUVSQUxEIFdBWSBMRU9OIEJBVFRJU1RBIEFMQkVSVEkgMw==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_7b6a79ea47876d05216d648136bfe815.setContent(i_frame_e77caeb760478f3aa3fbdafe23c60acd);
        

        marker_d9bfc77cfe0ae12d52f439538f1de000.bindPopup(popup_7b6a79ea47876d05216d648136bfe815)
        ;

        
    
    
            var marker_9c443200e4944b882fddd50212e3cc2a = L.marker(
                [45.48606082, 9.15128691],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_0414f5a4aaf0bca69a8b4e87e25d3384 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_9f44d8e82473c32966f41ea7d2b8ef3d = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBTQU5KQU0=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_0414f5a4aaf0bca69a8b4e87e25d3384.setContent(i_frame_9f44d8e82473c32966f41ea7d2b8ef3d);
        

        marker_9c443200e4944b882fddd50212e3cc2a.bindPopup(popup_0414f5a4aaf0bca69a8b4e87e25d3384)
        ;

        
    
    
            var marker_3504426520d9ec122898f0ec42e9735f = L.marker(
                [45.48282205, 9.15605795],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_84d524b6dbffa6f856f88273b894bb2f = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_c6ab76c2aa31c1335f1119d628d33adc = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBDQVNBIFZBQ0FOWkUgQUxDVUlOTyA1" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_84d524b6dbffa6f856f88273b894bb2f.setContent(i_frame_c6ab76c2aa31c1335f1119d628d33adc);
        

        marker_3504426520d9ec122898f0ec42e9735f.bindPopup(popup_84d524b6dbffa6f856f88273b894bb2f)
        ;

        
    
    
            var marker_54dd74ab96063b80153b5cbe02453d0a = L.marker(
                [45.4869542, 9.15624477],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_3e34b30e428c247136126b9d7999b7b5 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_febc956ac47a5027d4ca2984d90f37d6 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBDTEVBTkJOQiBMQVVSSUEgMTU=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_3e34b30e428c247136126b9d7999b7b5.setContent(i_frame_febc956ac47a5027d4ca2984d90f37d6);
        

        marker_54dd74ab96063b80153b5cbe02453d0a.bindPopup(popup_3e34b30e428c247136126b9d7999b7b5)
        ;

        
    
    
            var marker_902f1c6f4197be760371ded6118dd941 = L.marker(
                [45.48645292, 9.15795886],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_59068adc7edca6bac0fb3f10b9d21496 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_de6c25c75153d4ce9c32f0a896976181 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBTRU1QSU9ORSBBUEFSVE1FTlQgODc=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_59068adc7edca6bac0fb3f10b9d21496.setContent(i_frame_de6c25c75153d4ce9c32f0a896976181);
        

        marker_902f1c6f4197be760371ded6118dd941.bindPopup(popup_59068adc7edca6bac0fb3f10b9d21496)
        ;

        
    
    
            var marker_c0b9f688f86ac3a93586bf31570030e2 = L.marker(
                [45.48828823, 9.15508858],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_53505f55e24bf110f00091c990a7e355 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_ca7f5a6ab4be93ad14efd5d4d8fed913 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBDRVJUT1NBIDE=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_53505f55e24bf110f00091c990a7e355.setContent(i_frame_ca7f5a6ab4be93ad14efd5d4d8fed913);
        

        marker_c0b9f688f86ac3a93586bf31570030e2.bindPopup(popup_53505f55e24bf110f00091c990a7e355)
        ;

        
    
    
            var marker_97dd329517ca87399294a7bf3071cda8 = L.marker(
                [45.48142047, 9.15924886],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_523624ce10784428fd795de04139eee3 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_d357c328f6829ce5c185e91e4905fb52 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBTQVZPTkFST0xBIDIxIFNVQiA3MTU=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_523624ce10784428fd795de04139eee3.setContent(i_frame_d357c328f6829ce5c185e91e4905fb52);
        

        marker_97dd329517ca87399294a7bf3071cda8.bindPopup(popup_523624ce10784428fd795de04139eee3)
        ;

        
    
    
            var marker_0ffc3cc8a7880c34ef8ce81447241d60 = L.marker(
                [45.48794523, 9.15179369],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_9969600f9c9de969f9ae0fb574dd98f5 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_875788f8537afda43e4f7d2790132c62 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBQRVRJVFRJIENBUkxPIElMQVJJT05FIDE3IFNVQiA3MDE=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_9969600f9c9de969f9ae0fb574dd98f5.setContent(i_frame_875788f8537afda43e4f7d2790132c62);
        

        marker_0ffc3cc8a7880c34ef8ce81447241d60.bindPopup(popup_9969600f9c9de969f9ae0fb574dd98f5)
        ;

        
    
    
            var marker_2cbc892d73de5f7cf4f3aa6f884a71b3 = L.marker(
                [45.4849402, 9.1506468],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_f68772216208ef79a4f0f36ee3f6fdb2 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_d91b53be212b40b93f708e0724ecb553 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBNQUNDSEkgR0FUVEFNRUxBVEE=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_f68772216208ef79a4f0f36ee3f6fdb2.setContent(i_frame_d91b53be212b40b93f708e0724ecb553);
        

        marker_2cbc892d73de5f7cf4f3aa6f884a71b3.bindPopup(popup_f68772216208ef79a4f0f36ee3f6fdb2)
        ;

        
    
    
            var marker_acfaf5486322810bf59af0aacd33ccb6 = L.marker(
                [45.48709441, 9.15711091],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_9dde45a98f55fe683681bc77a9ec7ce9 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_ed629b2f447e8cfe38da6c255fb834bd = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiAzNjlIT01FUyBTUkxfQ09SU08gU0VNUElPTkUgOTVfIFNVQiAyMw==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_9dde45a98f55fe683681bc77a9ec7ce9.setContent(i_frame_ed629b2f447e8cfe38da6c255fb834bd);
        

        marker_acfaf5486322810bf59af0aacd33ccb6.bindPopup(popup_9dde45a98f55fe683681bc77a9ec7ce9)
        ;

        
    
    
            var marker_c90220cce909419c7daec9873283bbfd = L.marker(
                [45.48404042, 9.15821011],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_aa79a6308bbbc5a8828e546c5737fd8a = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_a97aa2c74d6b603a78e84d9d48ff5e25 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBDTEVBTkJOQiBBTEJFUlRJIDg=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_aa79a6308bbbc5a8828e546c5737fd8a.setContent(i_frame_a97aa2c74d6b603a78e84d9d48ff5e25);
        

        marker_c90220cce909419c7daec9873283bbfd.bindPopup(popup_aa79a6308bbbc5a8828e546c5737fd8a)
        ;

        
    
    
            var marker_4ac0e0d8c22aa1cc0c16628201436039 = L.marker(
                [45.48375236, 9.15776475],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_8a3d23eee534f904c52c8a6a1d1d71eb = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_5dffa8770d0f9ede1d740a23930e4379 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBCSUFHSU5JIEFMQkVSVEk=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_8a3d23eee534f904c52c8a6a1d1d71eb.setContent(i_frame_5dffa8770d0f9ede1d740a23930e4379);
        

        marker_4ac0e0d8c22aa1cc0c16628201436039.bindPopup(popup_8a3d23eee534f904c52c8a6a1d1d71eb)
        ;

        
    
    
            var marker_b8784319311614bb368da9bb4402ad52 = L.marker(
                [45.48654536, 9.15622899],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_6337b2d74bd9089377c3583a8e8770e5 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_6d7237b36af54cb21922f737c257cff8 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBHUkVVVEVSLSBNSUxBTk8=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_6337b2d74bd9089377c3583a8e8770e5.setContent(i_frame_6d7237b36af54cb21922f737c257cff8);
        

        marker_b8784319311614bb368da9bb4402ad52.bindPopup(popup_6337b2d74bd9089377c3583a8e8770e5)
        ;

        
    
    
            var marker_20f96a5e3f0deaca2d376064ab3f5618 = L.marker(
                [45.48837609, 9.15079296],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_dae5a0fa26c7744078b591b91ef121d5 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_1461becdc2a27485eacd6e78e2e26e0d = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBMQUxMQSdTIE1JTEFOTw==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_dae5a0fa26c7744078b591b91ef121d5.setContent(i_frame_1461becdc2a27485eacd6e78e2e26e0d);
        

        marker_20f96a5e3f0deaca2d376064ab3f5618.bindPopup(popup_dae5a0fa26c7744078b591b91ef121d5)
        ;

        
    
    
            var marker_77b9776f48a9b4ad26c5e69ff9a55044 = L.marker(
                [45.48856429, 9.1505458],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_6b88c451e3b25e2f50446230e1d4f1bc = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_65609ccb139a12fb44803edbf226b68e = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBGRUVMQEhPTUU6IERBIFNJTFZJQQ==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_6b88c451e3b25e2f50446230e1d4f1bc.setContent(i_frame_65609ccb139a12fb44803edbf226b68e);
        

        marker_77b9776f48a9b4ad26c5e69ff9a55044.bindPopup(popup_6b88c451e3b25e2f50446230e1d4f1bc)
        ;

        
    
    
            var marker_50cfff88d04199dc686e075244bb83c7 = L.marker(
                [45.48490459, 9.1595462],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_8852f124f2a78c181932512b60fbab65 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_fd81fc5c8224fb23d384d6b034fd4b9b = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBWSUEgTEVPTiBCQVRUSVNUQSBBTEJFUlRJIDNfU1VCIDEy" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_8852f124f2a78c181932512b60fbab65.setContent(i_frame_fd81fc5c8224fb23d384d6b034fd4b9b);
        

        marker_50cfff88d04199dc686e075244bb83c7.bindPopup(popup_8852f124f2a78c181932512b60fbab65)
        ;

        
    
    
            var marker_94508ff91ab292ccfb055635abac4302 = L.marker(
                [45.48593209, 9.15620532],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_c1f359eb881a13c2c19ad9a82e8fa07a = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_9b3fc87ac4f7fa62ab90108fdfd8aa8c = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBMQVVSSUE=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_c1f359eb881a13c2c19ad9a82e8fa07a.setContent(i_frame_9b3fc87ac4f7fa62ab90108fdfd8aa8c);
        

        marker_94508ff91ab292ccfb055635abac4302.bindPopup(popup_c1f359eb881a13c2c19ad9a82e8fa07a)
        ;

        
    
    
            var marker_5b380654cf7327d50eeadecc1cebba9e = L.marker(
                [45.48282205, 9.15605795],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_f392c254271952b9efd1a82ce60426cf = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_9adcf43135cb019672d56adfa8a07111 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBHSUFOTkkgRklFUkFNSUxBTk9DSVRZ" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_f392c254271952b9efd1a82ce60426cf.setContent(i_frame_9adcf43135cb019672d56adfa8a07111);
        

        marker_5b380654cf7327d50eeadecc1cebba9e.bindPopup(popup_f392c254271952b9efd1a82ce60426cf)
        ;

        
    
    
            var marker_ca5a25d87012944b6ab6014dae83d0f0 = L.marker(
                [45.4834643, 9.15731939],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_3821f33ae621ea86c54eee13429bea19 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_6e5bf21439dfa1742b33497edf677d8b = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBTEJFUlRJIDUgU1VCIDUwMQ==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_3821f33ae621ea86c54eee13429bea19.setContent(i_frame_6e5bf21439dfa1742b33497edf677d8b);
        

        marker_ca5a25d87012944b6ab6014dae83d0f0.bindPopup(popup_3821f33ae621ea86c54eee13429bea19)
        ;

        
    
    
            var marker_e62adf5595e6bcfd375b0962b04b764b = L.marker(
                [45.48313159, 9.15607094],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_259c3ef3c129d43bf732ab5e572f0519 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_256ff3997bff445c3b4e5ebdcb0e0cb7 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBCSU5JIEFMQ1VJTk8=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_259c3ef3c129d43bf732ab5e572f0519.setContent(i_frame_256ff3997bff445c3b4e5ebdcb0e0cb7);
        

        marker_e62adf5595e6bcfd375b0962b04b764b.bindPopup(popup_259c3ef3c129d43bf732ab5e572f0519)
        ;

        
    
    
            var marker_cf65ae77df70075fad48186675a121c5 = L.marker(
                [45.48654536, 9.15622899],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_e557743e9685202c7654e648052d30e6 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_693e65dbdf3f94585537e0977038aea6 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBSVJCTkIgQUxFU1NJQSBFIExVQ0EgTUlMQU5PIFJVR0dFUk8gREkgTEFVUklBIDE4" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_e557743e9685202c7654e648052d30e6.setContent(i_frame_693e65dbdf3f94585537e0977038aea6);
        

        marker_cf65ae77df70075fad48186675a121c5.bindPopup(popup_e557743e9685202c7654e648052d30e6)
        ;

        
    
    
            var marker_307004ca4a32f6c725c47cebac33572f = L.marker(
                [45.4814636, 9.15599585],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_8e0cf29ba91fffb1c98e3368864df184 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_1848296549c46950f94c0ce880b1d1fd = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBTENVSU5PMSBTVUIuMjY=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_8e0cf29ba91fffb1c98e3368864df184.setContent(i_frame_1848296549c46950f94c0ce880b1d1fd);
        

        marker_307004ca4a32f6c725c47cebac33572f.bindPopup(popup_8e0cf29ba91fffb1c98e3368864df184)
        ;

        
    
    
            var marker_cb8a79bb5787afe7febe159e3ea54acc = L.marker(
                [45.485864, 9.15337499],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_f6e6b188b7a900ee5003d36321aec72c = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_f9b0f3cf64252a845bce2a7267e99c8c = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBTQVkgWUVTIE1JTEFOTyBDSVRZIExJRkU=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_f6e6b188b7a900ee5003d36321aec72c.setContent(i_frame_f9b0f3cf64252a845bce2a7267e99c8c);
        

        marker_cb8a79bb5787afe7febe159e3ea54acc.bindPopup(popup_f6e6b188b7a900ee5003d36321aec72c)
        ;

        
    
    
            var marker_b04ebbc7b2ea606360617f6446060eed = L.marker(
                [45.4814636, 9.15599585],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_af07b9d94186dc457926b67d2b1e9a28 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_b72d7b39439136738f3a052976ea7702 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBNSUxBTk9DSVRZ" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_af07b9d94186dc457926b67d2b1e9a28.setContent(i_frame_b72d7b39439136738f3a052976ea7702);
        

        marker_b04ebbc7b2ea606360617f6446060eed.bindPopup(popup_af07b9d94186dc457926b67d2b1e9a28)
        ;

        
    
    
            var marker_e15b9b7cf1447bab2a8d580d148c4df3 = L.marker(
                [45.48677366, 9.15753489],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_32d9f5967cc985fb8a626baf797d477f = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_cd0ea698a030a9297ba9864ca528b0b0 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBFTlRFUlBSSVNFIEhPVEVM" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_32d9f5967cc985fb8a626baf797d477f.setContent(i_frame_cd0ea698a030a9297ba9864ca528b0b0);
        

        marker_e15b9b7cf1447bab2a8d580d148c4df3.bindPopup(popup_32d9f5967cc985fb8a626baf797d477f)
        ;

        
    
    
            var marker_0638db1e957fb9457ae63f9c114eb0ae = L.marker(
                [45.48593209, 9.15620532],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_577e9f5391233dbaf388e62e6d4e489a = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_df050fab8bf9f07afd4b3f4e813c1a35 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBHVUVTVEhFUk8gREkgTEFVUklBIDkgU1VCIDUwMQ==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_577e9f5391233dbaf388e62e6d4e489a.setContent(i_frame_df050fab8bf9f07afd4b3f4e813c1a35);
        

        marker_0638db1e957fb9457ae63f9c114eb0ae.bindPopup(popup_577e9f5391233dbaf388e62e6d4e489a)
        ;

        
    
    
            var marker_bb11b1b54c92c523afb80b3b4d955950 = L.marker(
                [45.485864, 9.15337499],
                {}
            ).addTo(marker_cluster_9ce24f4684eb53876f360d02227a078b);
        
    
        var popup_663acaf6cb15c079f11f22822fe56f60 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_ca6cbd97fe4ebdce41d63d99ed123d0d = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBIT01FIEFUIEhPVEVMIFRFT0RPUklDTw==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_663acaf6cb15c079f11f22822fe56f60.setContent(i_frame_ca6cbd97fe4ebdce41d63d99ed123d0d);
        

        marker_bb11b1b54c92c523afb80b3b4d955950.bindPopup(popup_663acaf6cb15c079f11f22822fe56f60)
        ;

        
    
</script>