<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6607f139626f2e2e9ec98526defc59b2 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_6607f139626f2e2e9ec98526defc59b2" ></div>
        
</body>
<script>    
    
            var map_6607f139626f2e2e9ec98526defc59b2 = L.map(
                "map_6607f139626f2e2e9ec98526defc59b2",
                {
                    center: [45.46, 9.2],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6ccfb509ba796b0bbcd07ba38497b8ca = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6607f139626f2e2e9ec98526defc59b2);
        
    
            var tile_layer_74ef1053b9916793d4ea52781d0934f7 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
            var mini_map_0bebf0dd3b47cf95a312d4d26daac47c = new L.Control.MiniMap(
                tile_layer_74ef1053b9916793d4ea52781d0934f7,
                {"autoToggleDisplay": false, "centerFixed": false, "collapsedHeight": 25, "collapsedWidth": 25, "height": 150, "minimized": false, "position": "bottomright", "toggleDisplay": true, "width": 150, "zoomAnimation": false, "zoomLevelOffset": -5}
            );
            map_6607f139626f2e2e9ec98526defc59b2.addControl(mini_map_0bebf0dd3b47cf95a312d4d26daac47c);
        
    
            var marker_cluster_84710cba2cf3684b09e1ce2f74000327 = L.markerClusterGroup(
                {}
            );
            map_6607f139626f2e2e9ec98526defc59b2.addLayer(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
            var marker_62da0a3070632dc22ebcae4b6cb55eb7 = L.marker(
                [45.52054001, 9.17182557],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_8f17f3e8de9e9b7c0ce8392a9f9bec8b = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_db9ff74ea6470a6957845b670d9ef275 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBWSUEgR0FFVEEgIDE2X1NVQiAxOQ==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_8f17f3e8de9e9b7c0ce8392a9f9bec8b.setContent(i_frame_db9ff74ea6470a6957845b670d9ef275);
        

        marker_62da0a3070632dc22ebcae4b6cb55eb7.bindPopup(popup_8f17f3e8de9e9b7c0ce8392a9f9bec8b)
        ;

        
    
    
            var marker_5b98166d6004916cf47a88077422b9d6 = L.marker(
                [45.50703695, 9.17848366],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_d3b96229ddf15245af4c93141a9b7be4 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_d2f775a6cb2fc3ba29d3ac50f9215e10 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBJTk5BIEJFU1QgSE9VU0UgMQ==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_d3b96229ddf15245af4c93141a9b7be4.setContent(i_frame_d2f775a6cb2fc3ba29d3ac50f9215e10);
        

        marker_5b98166d6004916cf47a88077422b9d6.bindPopup(popup_d3b96229ddf15245af4c93141a9b7be4)
        ;

        
    
    
            var marker_44e924f2c72786f45302aa1dc5faca42 = L.marker(
                [45.5127385, 9.17854675],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_b2ceb25d181e49e88d207b1b14786873 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_8c62cf56d6e79fd7f0f7e2d97bcaba09 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBFQ08gQVBBUlRNRU5UUyBNSUxBTk8=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_b2ceb25d181e49e88d207b1b14786873.setContent(i_frame_8c62cf56d6e79fd7f0f7e2d97bcaba09);
        

        marker_44e924f2c72786f45302aa1dc5faca42.bindPopup(popup_b2ceb25d181e49e88d207b1b14786873)
        ;

        
    
    
            var marker_b5601521fc8dd37fd34bafa5bc22c820 = L.marker(
                [45.51082114, 9.17584801],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_e1f2feee060102506851d3b91f72137e = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_4df41ddb2f17f1ad0495841244cd4f2e = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBJR0lCQU4gSE9URUwgTUlMQU5P" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_e1f2feee060102506851d3b91f72137e.setContent(i_frame_4df41ddb2f17f1ad0495841244cd4f2e);
        

        marker_b5601521fc8dd37fd34bafa5bc22c820.bindPopup(popup_e1f2feee060102506851d3b91f72137e)
        ;

        
    
    
            var marker_0ea932a9bad0b3adf05119774ff4954a = L.marker(
                [45.51157566, 9.17399156],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_2d571105ce57da3459545f9ef14e2aa6 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_3d0e8b4f95e6dc65010dc85deda96096 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBQ0NBIFBBTEFDRQ==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_2d571105ce57da3459545f9ef14e2aa6.setContent(i_frame_3d0e8b4f95e6dc65010dc85deda96096);
        

        marker_0ea932a9bad0b3adf05119774ff4954a.bindPopup(popup_2d571105ce57da3459545f9ef14e2aa6)
        ;

        
    
    
            var marker_9c318dc541afc3b67353bf31a8bcc3a3 = L.marker(
                [45.51429188, 9.17091465],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_c34e84ef9dff3eff14778bb92b281043 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_70b9f74b96a6e4e84912bec87f309c58 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBVUkJBTiBESVNUUklDVCBBUEFSVE1FTlRTIE1JTEFOTyBET1dOVE9XTiBDQU5BTA==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_c34e84ef9dff3eff14778bb92b281043.setContent(i_frame_70b9f74b96a6e4e84912bec87f309c58);
        

        marker_9c318dc541afc3b67353bf31a8bcc3a3.bindPopup(popup_c34e84ef9dff3eff14778bb92b281043)
        ;

        
    
    
            var marker_4dd89842c2b2f22794d858213ddb3976 = L.marker(
                [45.51665231, 9.16962538],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_686311b97e45e4551a9532615f8b673c = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_873047a430e201d3985ce3f29a797f08 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBCJkIgQ1JJU1RJTkE=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_686311b97e45e4551a9532615f8b673c.setContent(i_frame_873047a430e201d3985ce3f29a797f08);
        

        marker_4dd89842c2b2f22794d858213ddb3976.bindPopup(popup_686311b97e45e4551a9532615f8b673c)
        ;

        
    
    
            var marker_1ce22257e3091701f2cd0ae131df9ab3 = L.marker(
                [45.50704135, 9.17853589],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_8b5834a303ba0fb4d8da58b63feb6673 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_e88c4af8510ce4152b47411b2e3dfe42 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBUUkVWSTQgU1VCLjQ0" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_8b5834a303ba0fb4d8da58b63feb6673.setContent(i_frame_e88c4af8510ce4152b47411b2e3dfe42);
        

        marker_1ce22257e3091701f2cd0ae131df9ab3.bindPopup(popup_8b5834a303ba0fb4d8da58b63feb6673)
        ;

        
    
    
            var marker_971cecea478272c2a11b4a999b0a9716 = L.marker(
                [45.51195616, 9.17502777],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_9a2a8227f1089087db640a147c9a4ef1 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_952f52cc95f7b101f72a03ca3e4ef1e1 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBVUkJBTiBESVNUUklDVCBBUEFSVE1FTlRTIE1JTEFOIERPV05UT1dOIFJPU1NJ" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_9a2a8227f1089087db640a147c9a4ef1.setContent(i_frame_952f52cc95f7b101f72a03ca3e4ef1e1);
        

        marker_971cecea478272c2a11b4a999b0a9716.bindPopup(popup_9a2a8227f1089087db640a147c9a4ef1)
        ;

        
    
    
            var marker_cdb6efc3b6c1cd6c600df31f3aebb259 = L.marker(
                [45.51121348, 9.17875069],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_f8cd9760abb8b0d70b39f6e1ceade136 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_0e95488f53d5e42f679ede39e26a831b = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBTQ0lBTE9JQSA5IFNVQiA1MA==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_f8cd9760abb8b0d70b39f6e1ceade136.setContent(i_frame_0e95488f53d5e42f679ede39e26a831b);
        

        marker_cdb6efc3b6c1cd6c600df31f3aebb259.bindPopup(popup_f8cd9760abb8b0d70b39f6e1ceade136)
        ;

        
    
    
            var marker_7d9e771a106b98df8c01ea541f7e831f = L.marker(
                [45.50711341, 9.17615406],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_84ccbbf36ef99e5b04d25af93453f0a1 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_4030088d7aea767c5455691b161d6e2b = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBaQU1CRUxMSSAxMiAtU1VCLjM3" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_84ccbbf36ef99e5b04d25af93453f0a1.setContent(i_frame_4030088d7aea767c5455691b161d6e2b);
        

        marker_7d9e771a106b98df8c01ea541f7e831f.bindPopup(popup_84ccbbf36ef99e5b04d25af93453f0a1)
        ;

        
    
    
            var marker_d90251a98ec183b9a07104a2b00241ee = L.marker(
                [45.52252088, 9.16932141],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_9ef2bbd2d5150ec4d822c113d87b81b2 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_15bacafa1420f270700f71172c8909cb = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBQSVNFTExJIFZJQSBURVJSQUNJTkEgNg==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_9ef2bbd2d5150ec4d822c113d87b81b2.setContent(i_frame_15bacafa1420f270700f71172c8909cb);
        

        marker_d90251a98ec183b9a07104a2b00241ee.bindPopup(popup_9ef2bbd2d5150ec4d822c113d87b81b2)
        ;

        
    
    
            var marker_ee026da0c8872286bfc766c368614dce = L.marker(
                [45.52040058, 9.16944362],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_ad167b494142782b11433f14469242c4 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_14f251bbc932ffb4aaf222ad6a4952aa = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBU1RFU0FOSSBTVUIgNTQ=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_ad167b494142782b11433f14469242c4.setContent(i_frame_14f251bbc932ffb4aaf222ad6a4952aa);
        

        marker_ee026da0c8872286bfc766c368614dce.bindPopup(popup_ad167b494142782b11433f14469242c4)
        ;

        
    
    
            var marker_1c9e7037ac9a276a5d498d9b6df67d76 = L.marker(
                [45.52128923, 9.16896231],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_3b43d8cc18e5b7956207b9336fe9cb94 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_e7e5bb0f77b71b0e8ac41b66fce1fb9a = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBZRUxMT1cgTElORSBBUEFSVE1FTlQ=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_3b43d8cc18e5b7956207b9336fe9cb94.setContent(i_frame_e7e5bb0f77b71b0e8ac41b66fce1fb9a);
        

        marker_1c9e7037ac9a276a5d498d9b6df67d76.bindPopup(popup_3b43d8cc18e5b7956207b9336fe9cb94)
        ;

        
    
    
            var marker_498560155046ed77de54c288fffbb582 = L.marker(
                [45.521094, 9.16904629],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_07a6218d13202012dbd82f27f1c82965 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_6a7a402a768ed38d61f609e0c6ef2cae = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBU1RFU0FOSQ==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_07a6218d13202012dbd82f27f1c82965.setContent(i_frame_6a7a402a768ed38d61f609e0c6ef2cae);
        

        marker_498560155046ed77de54c288fffbb582.bindPopup(popup_07a6218d13202012dbd82f27f1c82965)
        ;

        
    
    
            var marker_9635640fccf1021a3d03473dcc54220e = L.marker(
                [45.51554564, 9.17591014],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_fb1cae8a689e40f181f615c90023e1f1 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_700b49bfbf9b66fd62ba2934f8a92675 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBDSElBTkNJQU5PIDQ=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_fb1cae8a689e40f181f615c90023e1f1.setContent(i_frame_700b49bfbf9b66fd62ba2934f8a92675);
        

        marker_9635640fccf1021a3d03473dcc54220e.bindPopup(popup_fb1cae8a689e40f181f615c90023e1f1)
        ;

        
    
    
            var marker_37d00be365163c15838c61007961560b = L.marker(
                [45.5127385, 9.17854675],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_107783d6649c2211a4d35bdb960c67b5 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_ed2097fa57a7a09eb84e89feb5c155a0 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBFQ08gR1JFRU4gQVBBUlRNRU5UUyBNSUxBTk8=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_107783d6649c2211a4d35bdb960c67b5.setContent(i_frame_ed2097fa57a7a09eb84e89feb5c155a0);
        

        marker_37d00be365163c15838c61007961560b.bindPopup(popup_107783d6649c2211a4d35bdb960c67b5)
        ;

        
    
    
            var marker_439c61890c482b2c816341a70caf35a9 = L.marker(
                [45.51936158, 9.1700042],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_b2bd5f8d25d1c3708dbefa6e7db45cd1 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_c8fe38e90354378fb0d32419985534d3 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBOT1ZBUk8gMiBTVUIgOA==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_b2bd5f8d25d1c3708dbefa6e7db45cd1.setContent(i_frame_c8fe38e90354378fb0d32419985534d3);
        

        marker_439c61890c482b2c816341a70caf35a9.bindPopup(popup_b2bd5f8d25d1c3708dbefa6e7db45cd1)
        ;

        
    
    
            var marker_26a97c47817686a1b2dd712b96de0774 = L.marker(
                [45.51579803, 9.17707158],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_406b2b74ccf087f954cfeede89cb70ca = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_49bda17caf688c73df63ff1e93b934e7 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBDSVRZIEhPVVNF" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_406b2b74ccf087f954cfeede89cb70ca.setContent(i_frame_49bda17caf688c73df63ff1e93b934e7);
        

        marker_26a97c47817686a1b2dd712b96de0774.bindPopup(popup_406b2b74ccf087f954cfeede89cb70ca)
        ;

        
    
    
            var marker_7a1d5369863a0d306d87286e21551610 = L.marker(
                [45.51447055, 9.1776326],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_c50e60187256d127abe449d70072251c = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_1a242720ab2b9822d06a70c4a82a4eb7 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBQQUxNQVJJQSA5" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_c50e60187256d127abe449d70072251c.setContent(i_frame_1a242720ab2b9822d06a70c4a82a4eb7);
        

        marker_7a1d5369863a0d306d87286e21551610.bindPopup(popup_c50e60187256d127abe449d70072251c)
        ;

        
    
    
            var marker_97ee701d5a59333e77858cb2996ceba7 = L.marker(
                [45.50875245, 9.1716516],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_78df4bc27cfe367128e3a728c9cbeb63 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_5d77447ee5eeb433bee2e649ffdc05d4 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBESU9OR1VFIEdSQVpJT0xJIDQ2" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_78df4bc27cfe367128e3a728c9cbeb63.setContent(i_frame_5d77447ee5eeb433bee2e649ffdc05d4);
        

        marker_97ee701d5a59333e77858cb2996ceba7.bindPopup(popup_78df4bc27cfe367128e3a728c9cbeb63)
        ;

        
    
    
            var marker_d02d566dd8f408f7067c2fcb07c833a8 = L.marker(
                [45.52067344, 9.16929423],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_bb30d19ff5662b4729380b6d2ce10d68 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_df83d311f8c8f4274904f8129ef6cfb2 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBTEVTU0lBIEJVSUxESU5HIFNVQi4gNzEw" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_bb30d19ff5662b4729380b6d2ce10d68.setContent(i_frame_df83d311f8c8f4274904f8129ef6cfb2);
        

        marker_d02d566dd8f408f7067c2fcb07c833a8.bindPopup(popup_bb30d19ff5662b4729380b6d2ce10d68)
        ;

        
    
    
            var marker_e3c9d9333067b26ccece15d88ab74ce7 = L.marker(
                [45.52054001, 9.17182557],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_1c535ce299c42ee1b596dc023b8a0465 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_c3b85a04b057f618cff04a11ffbb430b = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBHQUVUQSBBUEFSVE1FTlQgTUlMQU4=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_1c535ce299c42ee1b596dc023b8a0465.setContent(i_frame_c3b85a04b057f618cff04a11ffbb430b);
        

        marker_e3c9d9333067b26ccece15d88ab74ce7.bindPopup(popup_1c535ce299c42ee1b596dc023b8a0465)
        ;

        
    
    
            var marker_9409b2ef632468e3393da161d6726fd0 = L.marker(
                [45.51365544, 9.17001688],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_52f83d2cc453cd576c7bde9433fd5ba9 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_ef65edfb3bd23cbc4b72e1cdc2a1bf0a = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBWSUEgRU5SSUNPIENJQUxESU5JIDkxX1NVQiAzOA==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_52f83d2cc453cd576c7bde9433fd5ba9.setContent(i_frame_ef65edfb3bd23cbc4b72e1cdc2a1bf0a);
        

        marker_9409b2ef632468e3393da161d6726fd0.bindPopup(popup_52f83d2cc453cd576c7bde9433fd5ba9)
        ;

        
    
    
            var marker_d9fa566e42eae90f07c393846d1af9e6 = L.marker(
                [45.51579968, 9.17235606],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_71b5eabee27610549e62f44bd0fe65f3 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_ad5b7135f8d53169291b6b4a466585fc = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBRkZPUkkgNEVWRVIgLSAyIEJFRFJPT01T" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_71b5eabee27610549e62f44bd0fe65f3.setContent(i_frame_ad5b7135f8d53169291b6b4a466585fc);
        

        marker_d9fa566e42eae90f07c393846d1af9e6.bindPopup(popup_71b5eabee27610549e62f44bd0fe65f3)
        ;

        
    
    
            var marker_147fad776ae09196e0abb62313922e14 = L.marker(
                [45.5142747, 9.17175055],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_ba1e8b9df0eb798d3036d9743c1409bf = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_3f7c702e30a916612ebd03e4f1fa805c = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBUk1FTExJTkkgMy4w" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_ba1e8b9df0eb798d3036d9743c1409bf.setContent(i_frame_3f7c702e30a916612ebd03e4f1fa805c);
        

        marker_147fad776ae09196e0abb62313922e14.bindPopup(popup_ba1e8b9df0eb798d3036d9743c1409bf)
        ;

        
    
    
            var marker_7a71124f3de7756fe6f8445c829bcbc1 = L.marker(
                [45.5119759, 9.17852895],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_2bcc4f819c37163532b4511d88dae304 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_b7fa29f5679754cdc271a75f0a6d313b = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBDQVNBIERJIElWQU4=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_2bcc4f819c37163532b4511d88dae304.setContent(i_frame_b7fa29f5679754cdc271a75f0a6d313b);
        

        marker_7a71124f3de7756fe6f8445c829bcbc1.bindPopup(popup_2bcc4f819c37163532b4511d88dae304)
        ;

        
    
    
            var marker_1e74652b37e83a910b5cd5f53cf553af = L.marker(
                [45.51817659, 9.17573618],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_541d9f91864e018e6e96317183d65bb3 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_de7d6cc8e025bab8fb593c22c1b50942 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBDQVNBIERFSSBHRUxTSQ==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_541d9f91864e018e6e96317183d65bb3.setContent(i_frame_de7d6cc8e025bab8fb593c22c1b50942);
        

        marker_1e74652b37e83a910b5cd5f53cf553af.bindPopup(popup_541d9f91864e018e6e96317183d65bb3)
        ;

        
    
    
            var marker_0e479781d21f6ccf998a1022934077fd = L.marker(
                [45.51771997, 9.17106177],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_c0859544138fef02d60f70a9edad8f46 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_0ee434436ccd27ea193eb220cd2fb7d7 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBU1RFU0FOSSAyMg==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_c0859544138fef02d60f70a9edad8f46.setContent(i_frame_0ee434436ccd27ea193eb220cd2fb7d7);
        

        marker_0e479781d21f6ccf998a1022934077fd.bindPopup(popup_c0859544138fef02d60f70a9edad8f46)
        ;

        
    
    
            var marker_3be92ba4af6f045eaac6ba577b4adfc2 = L.marker(
                [45.52067344, 9.16929423],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_1657785b29ff49105dc86b912fa4c26c = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_a3e009862c1eb3b2beb1361b6658e18b = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBTEVTU0lBIEJVSUxESU5HIFNVQi4gNzE2" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_1657785b29ff49105dc86b912fa4c26c.setContent(i_frame_a3e009862c1eb3b2beb1361b6658e18b);
        

        marker_3be92ba4af6f045eaac6ba577b4adfc2.bindPopup(popup_1657785b29ff49105dc86b912fa4c26c)
        ;

        
    
    
            var marker_090d9825f2ffbf8cdf357a61c8abeb11 = L.marker(
                [45.521094, 9.16904629],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_955fd08cc3ebe365c470e18d922d89e5 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_192b97074b1e802bbb065a23a796c8b6 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBU1RFU0FOSTU2IC0gU1VCLjcwMw==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_955fd08cc3ebe365c470e18d922d89e5.setContent(i_frame_192b97074b1e802bbb065a23a796c8b6);
        

        marker_090d9825f2ffbf8cdf357a61c8abeb11.bindPopup(popup_955fd08cc3ebe365c470e18d922d89e5)
        ;

        
    
    
            var marker_f7910612825ec6212691200a5370868e = L.marker(
                [45.5187491, 9.17195123],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_5f90dcb279a7039ad308ac8bad756de1 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_bd3b6f749f968649b30dab97adfedf48 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBFTElBIFJVRk8gMTA=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_5f90dcb279a7039ad308ac8bad756de1.setContent(i_frame_bd3b6f749f968649b30dab97adfedf48);
        

        marker_f7910612825ec6212691200a5370868e.bindPopup(popup_5f90dcb279a7039ad308ac8bad756de1)
        ;

        
    
    
            var marker_d588a9d8d139c87fbbf4c63d7a9565ac = L.marker(
                [45.50704135, 9.17853589],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_f2173c2f9cef4ceeae7aae224a4b86d1 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_bd462b4321fde4ca0700b379122798c3 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBMVVhVUlkgSE9VU0UgU01BTEw=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_f2173c2f9cef4ceeae7aae224a4b86d1.setContent(i_frame_bd462b4321fde4ca0700b379122798c3);
        

        marker_d588a9d8d139c87fbbf4c63d7a9565ac.bindPopup(popup_f2173c2f9cef4ceeae7aae224a4b86d1)
        ;

        
    
    
            var marker_3dc9e62cfc8ec794eabf42b0d96f675f = L.marker(
                [45.52067344, 9.16929423],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_0695c3688cc9e9310da32b2077f78942 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_08911c7b0d22b006d34c7ce7193a36af = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBTEVTU0lBIEJVSUxESU5HIFNVQi4gNzA5" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_0695c3688cc9e9310da32b2077f78942.setContent(i_frame_08911c7b0d22b006d34c7ce7193a36af);
        

        marker_3dc9e62cfc8ec794eabf42b0d96f675f.bindPopup(popup_0695c3688cc9e9310da32b2077f78942)
        ;

        
    
    
            var marker_8d992a82134bf55fa86ec6839bf0699c = L.marker(
                [45.52067344, 9.16929423],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_2c387c26f38caa1a7cdc96a3fdd654a7 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_9ccd38bd88c35ef73efd6b9f697f130e = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBTEVTU0lBIEJVSUxESU5HIFNVQi4gNzA4" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_2c387c26f38caa1a7cdc96a3fdd654a7.setContent(i_frame_9ccd38bd88c35ef73efd6b9f697f130e);
        

        marker_8d992a82134bf55fa86ec6839bf0699c.bindPopup(popup_2c387c26f38caa1a7cdc96a3fdd654a7)
        ;

        
    
    
            var marker_2c59afb58dd0d33b64e2ae866e5411cb = L.marker(
                [45.52067344, 9.16929423],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_afcb2cd1e0d4acd1906de5715e26da43 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_603a4da8fcc5d9e958f0fba7225f4396 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBTEVTU0lBIEJVSUxESU5HIFNVQi4gNzE1" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_afcb2cd1e0d4acd1906de5715e26da43.setContent(i_frame_603a4da8fcc5d9e958f0fba7225f4396);
        

        marker_2c59afb58dd0d33b64e2ae866e5411cb.bindPopup(popup_afcb2cd1e0d4acd1906de5715e26da43)
        ;

        
    
    
            var marker_925770d5e984b1bd27b202b381f0c006 = L.marker(
                [45.52067344, 9.16929423],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_0eb4fc347e47c840ecd108dc36120b60 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_eaebaf74bee299ac23068b21e0986c2e = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBTEVTU0lBIEJVSUxESU5HIFNVQi4gNzEx" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_0eb4fc347e47c840ecd108dc36120b60.setContent(i_frame_eaebaf74bee299ac23068b21e0986c2e);
        

        marker_925770d5e984b1bd27b202b381f0c006.bindPopup(popup_0eb4fc347e47c840ecd108dc36120b60)
        ;

        
    
    
            var marker_89e2d94627a33329972eaad28adc312e = L.marker(
                [45.52229864, 9.17201286],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_d4d2d89ca717f80546cf12ef6811773e = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_f37c8a953b9960ebe117f58adea5375a = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBNT0RFUk5PIEFQUEFSVEFNRU5UTyAtIE1NMyBBRkZPUkkgRk4=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_d4d2d89ca717f80546cf12ef6811773e.setContent(i_frame_f37c8a953b9960ebe117f58adea5375a);
        

        marker_89e2d94627a33329972eaad28adc312e.bindPopup(popup_d4d2d89ca717f80546cf12ef6811773e)
        ;

        
    
    
            var marker_946b5bf9844ef61f2094303ccdb06eda = L.marker(
                [45.51157566, 9.17399156],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_f1dc48e715780656a299355b9c8b7120 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_1cce3b264f481418ee709e2f0b33d4c4 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBEQUxMQSBaT1JaQQ==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_f1dc48e715780656a299355b9c8b7120.setContent(i_frame_1cce3b264f481418ee709e2f0b33d4c4);
        

        marker_946b5bf9844ef61f2094303ccdb06eda.bindPopup(popup_f1dc48e715780656a299355b9c8b7120)
        ;

        
    
    
            var marker_eb21d70605727d3020ebc589ce1991b5 = L.marker(
                [45.5083755, 9.17883],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_461f2c52b72b5ce6e7f830fe9e371960 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_925318fc301f40d7fe91811d762f80a8 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBUFBBUlRBTUVOVE8gSU4gVklBIFNFTVBMSUNJVMOAIDM=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_461f2c52b72b5ce6e7f830fe9e371960.setContent(i_frame_925318fc301f40d7fe91811d762f80a8);
        

        marker_eb21d70605727d3020ebc589ce1991b5.bindPopup(popup_461f2c52b72b5ce6e7f830fe9e371960)
        ;

        
    
    
            var marker_aac32e7564e9097757c98ed4bbc6efb8 = L.marker(
                [45.51936158, 9.1700042],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_c26f1e02ab1ab1f3af933e7a87db72c1 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_22cc629e44f4d3c9aa46ec90aace9492 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBOT1ZBUk8yIFNVQi4yMw==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_c26f1e02ab1ab1f3af933e7a87db72c1.setContent(i_frame_22cc629e44f4d3c9aa46ec90aace9492);
        

        marker_aac32e7564e9097757c98ed4bbc6efb8.bindPopup(popup_c26f1e02ab1ab1f3af933e7a87db72c1)
        ;

        
    
    
            var marker_caf0a8ea89e4f7d082cba8ba6c5473a6 = L.marker(
                [45.51407137, 9.17355382],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_a4cc899598d323ed1bf36796c3c721ec = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_cc952f35cc8b0db86bd5dcd357817952 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBWSUEgUk9TU0kgUEVMTEVHUklOTyBOLjgxIFNVQiA3MjU=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_a4cc899598d323ed1bf36796c3c721ec.setContent(i_frame_cc952f35cc8b0db86bd5dcd357817952);
        

        marker_caf0a8ea89e4f7d082cba8ba6c5473a6.bindPopup(popup_a4cc899598d323ed1bf36796c3c721ec)
        ;

        
    
    
            var marker_2c749d1d0664e260abaafdd6d5ae6fb2 = L.marker(
                [45.51350917, 9.17488169],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_deb74526303cc7ec266581b15875a2a3 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_6d9ff5672eba45aa00f1ad2e26b71365 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBMSVRUTEUgSVRBTFkgQ0lUWSBIT01F" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_deb74526303cc7ec266581b15875a2a3.setContent(i_frame_6d9ff5672eba45aa00f1ad2e26b71365);
        

        marker_2c749d1d0664e260abaafdd6d5ae6fb2.bindPopup(popup_deb74526303cc7ec266581b15875a2a3)
        ;

        
    
    
            var marker_6d96c0d0982f45f904af0d28e4f1f20d = L.marker(
                [45.51794688, 9.16911962],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_bcc77fa19322437f42d66ae8597c52c8 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_9c41f6f985d8da1a34d03579b453ee9e = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBNT05JQ0EgTE9GVCAtIEFGRk9SSSBNMw==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_bcc77fa19322437f42d66ae8597c52c8.setContent(i_frame_9c41f6f985d8da1a34d03579b453ee9e);
        

        marker_6d96c0d0982f45f904af0d28e4f1f20d.bindPopup(popup_bcc77fa19322437f42d66ae8597c52c8)
        ;

        
    
    
            var marker_ba0501478aef045cc310f5077d48bd23 = L.marker(
                [45.50995414, 9.17161272],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_4f448e4a2d255d98b76729bed15e698e = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_9099d519604b42ea257d5add7d7fcdca = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBST0JFUlRP" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_4f448e4a2d255d98b76729bed15e698e.setContent(i_frame_9099d519604b42ea257d5add7d7fcdca);
        

        marker_ba0501478aef045cc310f5077d48bd23.bindPopup(popup_4f448e4a2d255d98b76729bed15e698e)
        ;

        
    
    
            var marker_4237e17911e37c2c171dd5c6ae8a323a = L.marker(
                [45.5208924, 9.17137865],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_0236ec06e78fa076b6407a144cd379a7 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_775cf6ea9de66b6d827ad652477ea4db = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBNRURJQ0k=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_0236ec06e78fa076b6407a144cd379a7.setContent(i_frame_775cf6ea9de66b6d827ad652477ea4db);
        

        marker_4237e17911e37c2c171dd5c6ae8a323a.bindPopup(popup_0236ec06e78fa076b6407a144cd379a7)
        ;

        
    
    
            var marker_2943848752e31660b49d17a9c726a4fe = L.marker(
                [45.51195616, 9.17502777],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_440bc129a2b27f8f0222d9d916ffeed5 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_029efe3f13d766cea79673908aaf6ec8 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBTQUxVUw==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_440bc129a2b27f8f0222d9d916ffeed5.setContent(i_frame_029efe3f13d766cea79673908aaf6ec8);
        

        marker_2943848752e31660b49d17a9c726a4fe.bindPopup(popup_440bc129a2b27f8f0222d9d916ffeed5)
        ;

        
    
    
            var marker_857fd10597bd853db0da689a4c01e466 = L.marker(
                [45.51242815, 9.17839145],
                {}
            ).addTo(marker_cluster_84710cba2cf3684b09e1ce2f74000327);
        
    
        var popup_dd7801239184876c3b323a70ab3ce836 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_4651da7f8099e0b53585352eda34c426 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBMQSBSRVNJREVOWkE=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_dd7801239184876c3b323a70ab3ce836.setContent(i_frame_4651da7f8099e0b53585352eda34c426);
        

        marker_857fd10597bd853db0da689a4c01e466.bindPopup(popup_dd7801239184876c3b323a70ab3ce836)
        ;

        
    
</script>