<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>QuiVado</title>
    <link rel = "shortcut icon" href = "static/images/hotels.ico">
    <link rel="stylesheet" href="static/css/intro.css">
    <script lang="js">
      let section = document.querySelectorAll("section");
      let menu = document.querySelectorAll("header nav a");

      // for header active
      // window.onscroll = () => {
      //   section.forEach((i) => {
      //     let top = window.scrollY;
      //     let offset = i.offsetTop - 150;
      //     let height = i.offsetHeight;
      //     let id = i.getAttribute("id");

      //     if (top >= offset && top < offset + height) {
      //       menu.forEach((link) => {
      //         link.classList.remove("active");
      //         document.querySelector("header nav a[href*=" + id + "]")
      //           .classList.add("active");
      //       });
      //     }
      //   });
      // };

      function reveal() {
        var reveals = document.querySelectorAll(".reveal");

        for (var i = 0; i < reveals.length; i++) {
          var windowHeight = window.innerHeight;
          var elementTop = reveals[i].getBoundingClientRect().top;
          var elementVisible = 150;

          if (elementTop < windowHeight - elementVisible) {
            reveals[i].classList.add("active");
          } else {
            reveals[i].classList.remove("active");
          }
        }
      }

      window.addEventListener("scroll", reveal);

      // To check the scroll position on page load
      reveal();
    </script>

</head>

<body>
  <header>
    <nav>
      <a href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#services">Servizi</a>
      <a href="#contact">Contatti</a>
      <a href="/homepage">Go to Homepage</a>
    </nav>
  </header>
  <section id="home">
    <div>
      <h1>QuiVado</h1>
    </div>
  </section>
  <section id="about">
    <div class="container reveal">
      <h2>About</h2>
      <div class="text-container">
        <div class="text-box">
          
          <p style="text-align: center;">
            QuiVado è stato realizzato perché spesso a Milano, ma in generale nel mondo,sono presenti molte difficoltà nel cercare alloggi dove stare mentre si è in vacanza o stare permanentemente.
            Questo progetto ha preso spunto da Trivago ma in una versione più soft e limitata: un sito facilitato per gli abitanti di Milano.
          </p>
          
        </div>
      </div>
    </div>
  </section>

  <section id="services">
    <div class="container reveal">
      <h2>Servizi</h2>
      <div class="text-container">
        <div class="text-box">
          <h3>Servizio 1</h3>
          <p style="text-align: center;">
            Nel primo servizio l’ utente dispone di una mappa interattiva dove sono presenti tutti gli alloggi di Milano ed è possibile “viaggiare” all’ interno eseguendo uno zoom con la rotellina e spostandosi trascinando tenendo premuto il tasto sinistro del mouse.
          </p>
        </div>
        <div class="text-box">
          <h3>Servizio 2</h3>
          <p style="text-align: center;">
            L'utente inserisce il nome dell’ alloggio di Milano e vengono riportate le informazioni dell'alloggio richiesto con affiancata una mappa interattiva nella quale è possibile visionare il marker.
          </p>
        </div>
        <div class="text-box">
          <h3>Servizio 3</h3>
          <p style="text-align: center;">
            É presente un menù a tendina con il nome di tutti i quartieri di Milano, selezionando il quartiere desiderato verrà riportata la mappa interattiva con gli alloggi di quel quartiere. E se hai bisogno delle informazioni puoi semplicemente inserire il nome dell'alloggio nell'input del secondo servizio.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container reveal">
      <h2>Contatti</h2>
      <div class="text-container">
        <div class="text-box">
          <p>cilibeanu.nicolae@iisgalvanimi.edu.it</p>
        </div>
        <div class="text-box">
          <p>basco.luke@iisgalvanimi.edu.it</p>
        </div>
      </div>
    </div>
  </section>
</body>
</html>